@import 'common';
@import 'variables';

body,
div,
input {
  margin: 0;
  padding: 0;
}

select,
input {
  height: $common-item-height;
}

table,
th,
td {
  border: 1px solid;
  white-space: nowrap;
}