@import '../common';
@import '../variables';

.l-money-assistant-option,
.l-money-assistant-edit-modal-option {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.l-money-assistant-edit-modal {
  .l-table-option {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  .l-option {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}